<div class="what-is-container">
    <h2>¿Qué es PORSCHE?</h2>
    <div class="main-image-section">
      <img src="assets/presentacion2.jpg" alt="Porsche principal">
      <p>Porsche es más que un auto, es una experiencia...</p>
    </div>
   

    <div class="models-grid">
      <div class="model">
        <img src="assets/in.png" alt="Porsche 911 GT3">
        <h3>Porsche 911 GT3</h3>
      </div>
      <div class="model">
        <img src="assets/intro.jpg" alt="Porsche 911 Carrera">
        <h3>Porsche 911 Carrera</h3>
      </div>
      <div class="model">
        <img src="assets/img1-pg2.jpeg" alt="Porsche 911 Convertible">
        <h3>Porsche 911 Convertible</h3>
      </div>
    </div>
  </div>
  