<footer class="footer">
    <div class="footer-container">
      <div class="footer-section">
        <h4>Generar y buscar</h4>
        <ul>
          <li>Configura tu Porsche</li>
          <li>Comparar Modelos</li>
          <li>Contacta Porsche</li>
        </ul>
      </div>
  
      <div class="footer-section">
        <h4>Servicios en línea</h4>
        <ul>
          <li>Porsche Club</li>
          <li>My Porsche Login</li>
        </ul>
      </div>
  
      <div class="footer-section">
        <h4>Contactar con PORSCHE</h4>
        <ul class="social-icons">
          <li><i class="fab fa-facebook"></i></li>
          <li><i class="fab fa-twitter"></i></li>
          <li><i class="fab fa-instagram"></i></li>
          <li><i class="fab fa-youtube"></i></li>
        </ul>
      </div>
    </div>
  
    <div class="footer-credits">
      <p>© 2024 Porsche México · Todos los derechos reservados.</p>
    </div>
  </footer>
  