<div class="landing-container">

  <div class="text-container">
    <img src="assets/letras.jpg" alt="Porsche" class="porsche-title">
    <p class="porsche-tagline">Innovación, Elegancia y Desempeño Sin Límites.</p>
  </div>

  
  <div class="image-container">
    <img src="assets/in.png" alt="Auto Porsche" class="porsche-image">
  </div>
</div>


<div class="bottom-content">
  <div class="left-content">
    <img src="assets/presentacion2.jpg" alt="Nuevo Porsche" class="new-porsche-image">
    <p class="car-details">New 2024<br>Porsche 911 Carrera</p>
  </div>
  <div class="right-content">
    <p class="description">
      Siente la pasión de conducir un Porsche.<br>
      <strong>¡Descubre el poder detrás del volante!</strong>
    </p>
  </div>
</div>
